@font-face{
	font-family: 'BenguiatStd-Bold';
	src: url(../pag/fontes/BenguiatStd-Bold.otf);
	font-family: 'BebasNeue';
	src: url(../pag/fontes/BebasNeue-Regular.ttf);
}

* { margin: 0; 
	padding: 0; 
}

body{
	background-image: url(../img/home/fundo.png);
	margin: 0;
}

header{
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #000000;
	height: 100px;
	position: fixed;
	width: 100%;
}

#logo{
	font-family: 'BenguiatStd-Bold';
	font-size: 30px;
	color: black;
	letter-spacing: 1px;
	-webkit-text-stroke: 2px darkred;
	margin: 100px;
	filter: brightness(150%);
	text-decoration: none;
	text-shadow: 4px 4px 5px rgb(121, 82, 10);
}

#lgimg{
	width: 200px;
}

#divbusca{
  background-color:black;
  border:solid 2px darkred;
  width:350px;
  height: 35px;
  margin: 0 auto;
  filter: brightness(150%);
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

#txtbusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-style:arial;
  font-size:15px;
  border:0;
  height:32px;
  width:343px;
  border-radius: 15px;
  color: white;
}

#clnt{
	font-family: 'BebasNeue';
	text-decoration: none;
	font-size: 17px;
	letter-spacing: 2px;
	color: darkred;
	-webkit-text-stroke: 0px rgb(255, 255, 255);
	margin: 100px;
	filter: brightness(200%);
	text-shadow: 0px 0px 5px rgba(121, 82, 10, 0.808);
}

#cr{
	font-family: 'BebasNeue';
	text-decoration: none;
	font-size: 20px;
	letter-spacing: 1.5px;
	color: darkred;
	margin: 100px;
	filter: brightness(200%);
	text-shadow: 0px 0px 5px rgba(121, 82, 10, 0.808);
}

#ftinha{
	width: 150px;
	height: 190px;
	box-shadow: 0px 2px 50px 10px rgba(121, 82, 10, 0.808);
	border-radius: 5px;
}

#lvr{
	font-family: 'BebasNeue';
	-webkit-text-stroke: 0.5px white;
	color: rgba(0, 0, 0, 0.61);
	letter-spacing: 1.5px;
	font-size: 30px;
	padding-top: 130px;
}

.cad{
	margin-left: 37.5%;
	width: 25%;
	padding: 10% 0% 5% 0%;
	background-color: rgba(0, 0, 0, 0.459);
	text-align: center;
}

.cnt{
	color: aliceblue;
	font-family: 'Courier New', Courier, monospace;
	margin-top: 10px;
}

.inf{
	color: aliceblue;
	background-color: rgba(87, 29, 29, 0.753);
	margin-top: 10px;
	border: 1px solid rgb(97, 97, 20);
}

.al{
	text-align: center;
}

.aviso{
	margin: 2.5% 40% 0% 40%;
	padding: 2% 0.5% 2% 0.5%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 25px;
	color: aliceblue;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.719);
}

#lg{
	color: aliceblue;
	padding-top: 5px;
	font-family: 'Courier New', Courier, monospace;
	font-size: 15px;
	margin-top: 100px;
}

footer{
	margin-bottom: -20px;
	background: black;
	color: aliceblue;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.rdp{
	display: flex;
	justify-content: space-around;
}

.fdp{
	margin-top: 50px;
	margin-right: 50px;
	width: 50px;
}